
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&display=swap');

#content{
    max-width: 1600px;
}
div{ 
    max-width: 1600px;
    margin: 0 auto;
}
.logo, .icon {
width: 80px;
padding-top: 10px;
}
.home-title{
    color: #5A391D;
    font-size: 2em;
    font-family: "Mochiy Pop P One"; 
    margin-top: 10px;
}
#hero-img{
    width: 100%;
}
nav a{
text-align: center;
padding: 35px;
text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
text-align: center;
}
.button-box{
text-align: center;
}
main section{
text-align: center;
}
#background {
    height: 725px;
    background-color: #4B9AB6;
}
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
background-color: white	;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}


h2 {
    font-family: "Mochiy Pop P One" ;
    margin: 0;
}
header{
    background-color:#324376		;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color:#F5DD90		;
}
.book, .join{
    color: black;
background-color: #5A391D ;
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;
}
.card-img{
    border: 15px solid black;
}
main section img{
    box-sizing: border-box;
}
.book:hover, .join:hover{
background-color: white  ;
}
.msg p{
    font-size: .8em ;
    padding-bottom: 15px;
}
.msg{
    font-family: "Mochiy Pop P One" ;
    color:white;
background-color:#324376 ;
line-height: 1.5em;
padding: 35px;
}
footer, footer a{
color: white;
background-color:#324376;
padding: 25px 50px;
margin-top: 200px;
text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}

