@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&display=swap');

#content{
    max-width: 1000px;
    margin: 0 auto;
    color: #2C4E4C;
}

div{
    width: auto;
    margin: 0 auto;
}

/* Nav. */
.logo, .icon {
    width: 90px;
    padding-top: 10px;
    }

nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 35px;
    text-align: center;
    margin:0 auto;
}
nav a:hover{
    background-color:brown		;
}

/* header code */




header{
    background-color:#D6BB08		;
    display: grid;
    text-align: center;
    grid-template-columns: 150px auto;
    z-index: 3;
}

#blog-msg{
    background-color: #2C4E4C;
}
.title, .hero {
    color: white;
    font-size: 4em;
    font-family: "Mochiy Pop P One"; 
    margin-top: 10px;
    text-align: center;
}
#hero-img{
    width: 100%;
    align-content: center;
}
/* body of the webiste */
body{
    background-color: #255822;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}
.whatwedo{
    background-color: #2C4E4C;
    color: white;
    border: 2px solid #D6BB08;
    grid-column: 1/4;
    grid-row: 3/5;
    font-size: larger;
    text-align: center;
}
.offers{
    background-color: white;
    grid-column: 1/5;
    grid-row: 1/3;
    height: 90%;
    width: 90%;
    
}
.mulch{
    grid-column: 6/9;
    grid-row: 3/5;

}

.q_a{
    background-color: #2C4E4C;
    color: white;
    grid-column: 3/9;
    padding-top: 20px;
    padding-bottom: 100px;
    grid-row: 2/5;
    border: #D6BB08 solid 1px;
    text-align: center;
    grid-column: 5/9;
    grid-row: 1/2;
}
.est, .book{
    color: white;
    background-color: #5A391D ;
    font-size: 18px;
    padding: 5px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100px;
    text-decoration: none;

}
.book:hover{
    background-color: #F5DD90;
    color: black;
}

/* footer code */
footer, footer a{
    color: white;
    background-color:#2C4E4C;
    padding: 5px 20px;
    margin-top: 200px;
    text-decoration: none;
    }
    footer .social img {
        padding-top: 15px;
    }
    footer {
        justify-content: space-around;
        align-items: center;
    }

