@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&display=swap');

#content{
    max-width: 1000px;
    margin: 0 auto;
    color: #2C4E4C;
}

div{
    margin: 0 auto;
}

/* Nav. */
.logo, .icon {
    width: 90px;
    padding-top: 10px;
    }

nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 35px;
    text-align: center;
    margin:0 auto;
}
nav a:hover{
    background-color:brown		;
}

/* header code */

header{
    background-color:#D6BB08		;
    display: grid;
    text-align: center;
    grid-template-columns: 150px auto;
    z-index: 3;
}

#blog-msg{
    background-color: #2C4E4C;
}
.home-title, .hero {
    color: white;
    font-size: 4em;
    font-family: "Mochiy Pop P One"; 
    margin-top: 10px;
    text-align: center;
}
#hero-img{
    width: 100%;
    align-content: center;
}

/* body of the website */

body{
    background-color: #255822;
}

.mission-statement{
    padding: 10px;
    color: white;
    text-align: center;
   font-size: large;
   font-size: 2em;
   
}


.rocks{
    border-radius: 100%;
    width: 100%;
    border: 10px solid black;
}
.yard_work{
    text-align: center;
    color: white;
   
}

.msg2{
    background-color: #2C4E4C;
    border: 5px solid #D6BB08; 
    font-size: 2em
}


/* footer code */
footer, footer a{
    color: white;
    background-color:#2C4E4C;
    padding: 5px 20px;
    margin-top: 200px;
    text-decoration: none;
    }
    footer .social img {
        padding-top: 15px;
    }
    footer {
        justify-content: space-around;
        align-items: center;
    }